*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(15deg, #96d0ff, #88c0fe, #82affa, #839cf4, #8b88ea, #9771db, #a358c8, #ae37b0);
    
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://tarpits.org/sites/default/files/styles/2_1_extra_large_1700_x_850_/public/2019-06/160310_5o1a0249_tarpits_dd.jpg?h=790be497) ;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.hero-text h1{
    color: #fff;
    font-size: 64px;
    font-weight: 300;
}
.important-quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    color: #fff;
    
}
.important-quote h2{
    font-size: 38px;
    font-weight: 300;
}
.box-of-3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.quotes-card{
    border-radius: 10px;
    border: 2px solid #fff;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.815);
    color: #000;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    justify-content: space-around;
    align-items: center;
    height: auto;

}
.quotes-card h2{
    font-size: 32px;
    font-weight: 300;
    padding: 20px;
    border-bottom: 2px solid black;
}
.quotes p{
    font-style: italic;
    font-size: 26px;
    margin: 20px;
}